body{
  height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(Jagger\ logo.png);
    color: #ffff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#greeting{
    text-align: center;
    background-color: #0000;
    font-size: 4vw;
}
main{

    padding-top: 50px;
    padding-bottom: 50px;
    width: 40vw;
    height: 20vh;
    
   
    background-color: #535151;
    margin: 250px;
    border-radius: 10px;
}